# Importing and preparing supermarkets data

## Libraries and settings

In [1]:
# Libraries
import os
import fnmatch
import pandas as pd

# Ignore warnings
import warnings
warnings.filterwarnings("ignore")

# Get current working directory
print('Current working directory:', os.getcwd())

# Show .json files in the current working directory
flist = fnmatch.filter(os.listdir('.'), '*.json')
for i in flist:
    print(i)

Current working directory: c:\Users\diego\OneDrive\Documentos\GitHub\data_analytics_zhaw\Week_02
supermarkets.json

## Importing data

In [2]:
# Read the data to a pandas data frame
df1 = pd.read_json('supermarkets.json', encoding='utf-8')
df1.head(5)

,type,id,lat,lon,tags
0,node,33126515,47.155616,9.037915,"{'brand': 'Spar', 'brand:wikidata': 'Q610492',..."
1,node,36726161,47.226191,8.980329,"{'addr:city': 'Uznach', 'addr:housenumber': '2..."
2,node,39768209,47.225069,8.969981,"{'addr:city': 'Uznach', 'addr:postcode': '8730..."
3,node,39947904,47.376732,8.542161,"{'addr:city': 'Zürich', 'addr:country': 'CH', ..."
4,node,48932835,47.375020,8.522895,"{'addr:city': 'Zürich', 'addr:housenumber': '7..."

## Count number of rows and columns in the data frame

In [3]:
# Dimension (rows, columns)
print('Dimension:', df1.shape)

# Number of rows
print('Number of rows:', df1.shape[0])

# Number of columns
print('Number of columns:', df1.shape[1])

Dimension: (3392, 5)
Number of rows: 3392
Number of columns: 5

## Column 'tags' is a pandas Series with dictionaries -> change to data frame

In [4]:
# Type of the first item of column tags
print(type(df1.tags))
print(type(df1.tags[0]))

# Content of the first item of column tags
print(df1.tags[0].keys())

# Change to data frame
df2 = pd.DataFrame.from_records(df1.tags)
df2 = df2[['brand', 'shop', 'addr:city', 'addr:street', 'addr:housenumber', 'addr:postcode']]

# Rename selected columns
df2 = df2.rename(columns={'addr:city': 'city',
                          'addr:street':'street',
                          'addr:housenumber': 'housenumber',
                          'addr:postcode': 'postcode'})

# Show first records of data frame
df2.head()

<class 'pandas.core.series.Series'>
<class 'dict'>
dict_keys(['brand', 'brand:wikidata', 'brand:wikipedia', 'name', 'opening_hours', 'shop'])

    brand         shop    city          street housenumber postcode
0    Spar  supermarket     NaN             NaN         NaN      NaN
1  Migros  supermarket  Uznach  Zürcherstrasse          25     8730
2    Coop  supermarket  Uznach             NaN         NaN     8730
3    Coop  supermarket  Zürich   Bahnhofbrücke           1     8001
4  Migros  supermarket  Zürich    Wengistrasse           7     8004

## Merge df1 and df2

In [5]:
# Merge df and df2
df = pd.merge(df1[['type', 'id', 'lat', 'lon']], 
              df2[['brand', 'shop', 'city', 'street', 'housenumber', 'postcode']],
              left_index=True, 
              right_index=True)
df.head(5)

,type,id,lat,lon,brand,shop,city,street,housenumber,postcode
0,node,33126515,47.155616,9.037915,Spar,supermarket,NaN,NaN,NaN,NaN
1,node,36726161,47.226191,8.980329,Migros,supermarket,Uznach,Zürcherstrasse,25,8730
2,node,39768209,47.225069,8.969981,Coop,supermarket,Uznach,NaN,NaN,8730
3,node,39947904,47.376732,8.542161,Coop,supermarket,Zürich,Bahnhofbrücke,1,8001
4,node,48932835,47.375020,8.522895,Migros,supermarket,Zürich,Wengistrasse,7,8004

## Count and identify the number of missing values (if any)

In [6]:
# Count missing values
print(pd.isna(df).sum())

# Identify rows with missing values, e.g.:
df.loc[pd.isna(df['city'])]

type              0
id                0
lat               0
lon               0
brand          1065
shop              0
city           1777
street         1608
housenumber    1680
postcode       1709
dtype: int64

,type,id,lat,lon,brand,shop,city,street,housenumber,postcode
0,node,33126515,47.155616,9.037915,Spar,supermarket,NaN,NaN,NaN,NaN
5,node,60271452,47.406671,9.305450,NaN,supermarket,NaN,NaN,NaN,NaN
6,node,70656485,47.491253,8.733981,NaN,supermarket,NaN,NaN,NaN,NaN
10,node,81321513,47.532917,9.066408,Landi,supermarket,NaN,NaN,NaN,NaN
13,node,95582038,47.050385,9.059214,NaN,supermarket,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
3384,node,11083317088,46.862184,9.531169,Lidl,supermarket,NaN,NaN,NaN,NaN
3386,node,11098091830,46.205111,6.130174,Coop,supermarket,NaN,NaN,NaN,NaN
3387,node,11099817248,46.928691,7.561873,NaN,supermarket,NaN,NaN,NaN,NaN
3388,node,11103235832,46.166742,8.771970,Migros,supermarket,NaN,NaN,NaN,NaN
3391,node,11129298207,47.537518,7.608581,Coop,supermarket,NaN,NaN,NaN,NaN

In [7]:
df['type'].unique()

array(['node'], dtype=object)

## Count and identify duplicated values (if any)

In [8]:
# Count duplicated values
print(df.duplicated().sum())

# Identify rows with duplicated values, e.g.:
df[df[['id']].duplicated()]

0

Empty DataFrame
Columns: [type, id, lat, lon, brand, shop, city, street, housenumber, postcode]
Index: []

## Get data types of all variables

In [9]:
# Get data types (note that in pandas, a string is referred to as 'object')
df.dtypes

type            object
id               int64
lat            float64
lon            float64
brand           object
shop            object
city            object
street          object
housenumber     object
postcode        object
dtype: object

Additional filters on supermarkets

In [10]:
df['brand'].unique()

array(['Spar', 'Migros', 'Coop', nan, 'ALDI', 'Landi', 'Pam', 'Aldi',
       'Volg', 'VOI Migros Partner', 'Denner', 'Lidl', 'Crai', 'VOI',
       'Migros-Outlet', 'gazi', 'Coop;wikidata=Q432564', 'Lidl Schweiz',
       'coop', 'Eurospar', 'Alnatura', 'Denner;Migros', '7-Eleven',
       'Aldi Suisse', 'Rolog Krinner Cotub Titan Serac Molok', 'Jumbo',
       'avec', 'Metzgerei Eichenberger', 'ZWIBOL', 'Head, Fischer'],
      dtype=object)

In [12]:
df_f = df.loc[(df['brand'] == 'Migros') & (df['city'] == 'Zürich')]
df_f.head(5)

,type,id,lat,lon,brand,shop,city,street,housenumber,postcode
4,node,48932835,47.375020,8.522895,Migros,supermarket,Zürich,Wengistrasse,7,8004
11,node,83330862,47.344749,8.529981,Migros,supermarket,Zürich,Etzelstrasse,3,8038
16,node,119249170,47.375255,8.536107,Migros,supermarket,Zürich,Löwenstrasse,31-35,8001
50,node,262400822,47.364072,8.530945,Migros,supermarket,Zürich,Tessinerplatz,10,8002
71,node,267346993,47.385598,8.531471,Migros,supermarket,Zürich,Limmatstrasse,152,8005

In [13]:
df['city'].unique()

array([nan, 'Uznach', 'Zürich', 'Winterthur', 'Schötz', 'Mollis', 'Stäfa',
       'Benken SG', 'Lenzburg', 'Luzern', 'Frick', 'Pratteln',
       'Breil/Brigels', 'Kaltbrunn', 'Wildhaus', 'Weinfelden',
       'Altstätten', 'Wallisellen', 'Baden', 'Dättwil', 'Brugg', 'Horgen',
       'Basel', 'Uster', 'Morges', 'Lutry', 'Reinach BL', 'Laufen',
       'St. Gallen', 'Siebnen', 'Hochdorf', 'Nussbaumen AG', 'Schänis',
       'Bern', 'Richterswil', 'Sarnen', 'Lausanne', 'Breitenbach',
       'Villars-sur-Ollon', 'Kandersteg', 'Allschwil', 'Pully',
       'Yverdon-les-Bains', 'Schwyz', 'Stadel b. Niederglatt', 'Sulgen',
       'Thun', 'Langnau am Albis', 'Thalwil', 'Grindelwald', 'Fällanden',
       'Pfäffikon ZH', 'Wohlen', 'Bauma', 'Bassersdorf', 'Nürensdorf',
       'Herzogenbuchsee', 'Echallens', 'Neuenhof', 'Niederhasli',
       'Wädenswil', 'Port', 'Mettmenstetten', 'Münsingen', 'Emmenbrücke',
       'Russikon', 'Biel/Bienne', 'Genève', 'Geneva', 'Arlesheim',
       'Ehrendingen', 'Rotkreuz', 'Ottenbach', 'Münchenbuchsee',
       'Stierva', 'Riehen', 'Lenzerheide/Lai', 'Buchrain', 'Oberweningen',
       'Niederweningen', 'Hadlikon', 'Bonstetten', 'Saas-Fee', 'Crissier',
       'Fiesch', 'Visp', 'Willisau', 'Viganello', 'Büron', 'Liestal',
       'Oberägeri', 'Brunnen', 'Ebikon', 'Wolhusen', 'Männedorf',
       'Ecublens (VD)', 'Orsières', 'Schiers', 'Zug', 'Münchenstein',
       'Bremgarten AG', 'Burgdorf', 'Schenkon', 'Sirnach', 'Bubendorf',
       'Adligenswil', 'Sonvico', 'Disentis/Mustér', 'Dietikon', 'Sempach',
       'Peseux', 'Geroldswil', 'Sursee', 'Aarau', 'Turbenthal',
       'Ostermundigen', 'Erlinsbach AG', 'Embrach', 'Adliswil', 'Ascona',
       'Root', 'La Chaux-de-Fonds', 'Mörschwil', 'Volketswil', 'Eglisau',
       'Andermatt', 'Affoltern am Albis', 'Döttingen', 'Arni',
       'Utzenstorf', 'Emmetten', 'Hinteregg', 'Ossingen',
       'Bertschikon bei Gossau', 'Effretikon', 'Neuchâtel', 'Kaiseraugst',
       'Eschenbach', 'Eschenbach SG', 'Stein SG', 'Chavannes-près-Renens',
       'Oberburg', 'Weiach', 'Schongau', 'Seelisberg', 'Müllheim Dorf',
       'Rheinfelden', 'Saint-Légier-La Chiésaz', 'Chur',
       'Wangen an der Aare', 'Aesch', 'Aesch BL', 'Fahrwangen', 'Rombach',
       'Dübendorf', 'Zollikofen', 'Näfels', 'Splügen', 'Carouge',
       'Solothurn', 'Widnau', 'Delémont', 'Erschmatt', 'Domat/Ems',
       'Täuffelen', 'Sion', 'Schneisingen', 'Laax GR 2', 'Suhr',
       'Stansstad', 'Buchs SG', 'Hombrechtikon', 'Le Sentier',
       'Oberwil BL', 'Onex', 'Les Acacias', 'Cham', 'Maur', 'Arosa',
       'Rolle', 'Petit-Lancy', 'Steinhausen', 'Wettingen', 'wald',
       'Zuchwil', 'Altdorf', 'Baar', 'Müstair', 'Eich', 'Füllinsdorf',
       'Grenchen', 'Schaffhausen', 'Vernier', 'Giswil', 'Gümligen',
       'Meilen', 'Ebnat-Kappel', 'Dagmersellen', 'Schöftland',
       'Le Grand-Saconnex', 'Courgevaux', 'Malvaglia', 'Einsiedeln',
       'Hünenberg', 'Sins', 'Losone', 'Langnau i. E.', 'Boswil',
       'Yvonand', 'Flums', 'St-Luc', 'Kreuzlingen', 'Airolo', 'Urdorf',
       'Seengen', 'Meyrin', 'Ebmatingen', 'Unteriberg', 'Olten', 'Ernen',
       'Belp', 'Gebenstorf', 'Oberriet', 'Kappel am Albis', 'Flawil',
       'Wolfhausen', 'Rapperswil', 'Unterägeri', 'Sedrun', 'Studen',
       'Köniz', 'Au', 'Uetendorf', 'Lupfig', 'Nottwil', 'Emmen', 'Horw',
       'Wettswil', 'Sarmenstorf', 'Stans', 'Romanshorn', 'Hütten',
       'Botyre', 'Huttwil', 'Hagenbuch', 'Buochs', 'Beckenried',
       'Rothenburg', 'Wildegg', 'Kerns', 'Moosseedorf', 'Azmoos',
       'Dielsdorf', 'Littau', 'Riniken', 'Römerswil LU', 'Wassen',
       'Ettingen', 'Lyss', 'Schlieren', 'Mels', 'Möhlin', 'Klosters',
       'Würenlos', 'Grolley', 'Wollerau', 'Schwerzenbach',
       'Meisterschwanden', 'St. Margrethen SG', 'Dietlikon',
       'Fontainemelon', 'Gutenswil', 'Chiasso', 'Schüpfheim',
       'Küssnacht am Rigi', 'Konolfingen', 'Kerzers', 'Renens', 'Urnäsch',
       'Rüti (ZH)', 'Ittigen', 'Muri (AG)', 'Kirchberg BE', 'Arbon',
       'Münster VS', 'Oetwil am See', 'Ettiswil', 'Kaisten',
       'Büren an der Aare', 'Kriens', 'Bottenwil', 'Birsfelden',
       'Fislisbach', 'Schleitheim', 'Lostorf', 'Adelboden', 'Muttenz',
       'Trüllikon', 'Ueken', 'Frutigen', 'Sugiez', 'Herrliberg',
       'Stallikon', 'Chêne-Bourg', 'Pieterlen', 'Kloten', 'Binningen',
       'Hergiswil NW', 'Gibswil', 'Sankt Gallen', 'Versoix',
       'Buttikon SZ', 'Escholzmatt', 'Langenthal', 'Glattbrugg',
       'Dallenwil', 'Rümlang', 'Zäziwil', 'Grosshöchstetten',
       'Greifensee', 'Grabs', 'Sumiswald', 'Moudon', 'Samedan',
       'Fribourg', 'Aigle', 'Melchsee-Frutt', 'Champéry', 'Muri bei Bern',
       'Trimbach', 'Pfäffikon', 'Martigny', 'Thörishaus', 'Glarus',
       'Malters', 'Thayngen', 'Muri AG', 'Buchs ZH', 'Ruswil', 'Zofingen',
       'Heiden', 'Kleinandelfingen', 'Altendorf', 'Feldmeilen', 'Thônex',
       'Reckingen', 'Stalden (Sarnen)', 'Leimiswil', 'Gland', 'Belprahon',
       'Rüschlikon', 'Aarwangen', 'Zumikon', 'Balsthal', 'Engelberg',
       'Leysin', 'Meggen', 'Eggersriet', 'Jona', 'Rickenbach LU',
       'Flurlingen', 'Andelfingen', 'Collombey', 'Grandson', 'Geneve',
       'Schönenwerd', 'Wattwil', 'Stein am Rhein', 'Bülach', 'Studen SZ',
       'Matran', 'Rafz', 'Zermatt', 'Rapperswil SG', 'Sempach Station',
       'Lachen', 'Lachen SZ', 'Frauenfeld', 'Amriswil', 'Wittenbach',
       'Le Brassus', 'Windisch', 'Gundetswil', 'Altdorf UR',
       'Montagny-près-Yverdon', 'Oberbalm', 'Beromünster', 'Nyon',
       'Faido', 'Roggwil', 'Gettnau', 'Wetzikon (ZH)', 'Gams', 'Attalens',
       'Avry-sur-Matran', 'Fehraltorf', 'Bönigen', 'Gebertingen',
       'Wetzikon', 'Wald ZH', 'Sisseln', 'Goldau', 'Boll', 'Zell',
       'Oberegg', 'Maggia', 'Vitznau', 'Gerzensee', 'Buttisholz',
       'Löhningen', 'Conthey', 'Merenschwand', 'Coldrerio',
       'Cresta/Avers', 'Vacallo', 'Trimmis', 'Balerna',
       'Morbio Inferiore', 'Belfaux', 'Neuenkirch', 'Zihlschlacht',
       'Oberengstringen', 'Hägglingen', 'Degersheim', 'Muri b. Bern',
       'Bremgarten bei Bern', 'Bolligen', 'Arzo', 'Landquart', 'Biberist',
       'St.Gallen', 'Mendrisio', 'Abtwil', 'Scuol', 'Courtételle',
       'Niederscherli', 'Ins', 'Kirchberg SG', 'Vercorin', 'Opfikon',
       'St. Margrethen', 'Benglen', 'Tremona', 'Steckborn', 'Ardon',
       'Kallnach', 'Wabern', 'Taverne-Torricella', 'Arbedo', 'Bioggio',
       'Ibach', 'Courtepin', 'Lengnau BE', 'Tägerwilen', 'Rothrist',
       'Schlatt (TG)', 'Melano', 'Brusino Arsizio', 'Langendorf',
       'Murten', 'Rüti ZH', 'Vevey', 'Boppelsen', 'Dullikon', 'Uvrier',
       'Davos', 'Seewen', 'Menznau', 'Lugano', 'Kölliken', 'Walchwil',
       'Erstfeld', 'Gretzenbach', 'Stabio', 'Oftringen', 'Hirzel',
       'Spreitenbach', 'Weggis', 'Prilly', 'Grüsch', 'Laupen BE',
       'Champagne', 'Rain', 'Vilette (Le Châble VS)', 'Oberbipp',
       'Giffers', 'Oensingen', 'Gals', 'Trogen', 'Appenzell', 'Schmitten',
       'Göschenen', 'Guntalingen', 'Lenggenwil', 'Regensdorf',
       'Penthalaz', 'Haag (Rheintal)', 'Nant', 'Surrein', 'Bronschhofen',
       'Zuoz', 'Hitzkirch', 'Vicques', 'Oberentfelden', 'Aadorf',
       'Sörenberg', 'Thal', 'Münchwilen TG', 'Rorschach', 'Attinghausen',
       'Oey', 'Muntelier', 'Zillis', 'Brig', 'Kleinlützel', 'Goldach',
       'Wildberg', 'Lonay', 'VOI', 'Luterbach', 'Vignogn', 'Elgg',
       'Schmerikon', 'Aefligen', 'Rohrbach', 'Schwarzenbach',
       'Diepoldsau', 'Kriessern', 'Egerkingen', 'Bettwiesen',
       'Bergün/Bravuogn', 'Trin', 'Vouvry', 'Niederurnen', 'Unterkulm',
       'Winkel', 'Epalinges', 'Dornach', 'Charmey (Gruyère)', 'Bouveret',
       'Dongio', 'Watt', 'Moutier', 'Bettlach', 'Brienz BE', 'Gossau',
       'Bachenbülach', 'Studen BE', 'Hittnau', 'Bargen', 'Unterentfelden',
       'Montreux', 'Riederalp', 'Bettmeralp', 'Sierre/Siders',
       'Scherzingen', 'Nidau', 'Au SG', 'Strengelbach', 'Léchelles',
       'Bassecourt', 'Zwingen', 'Küsnacht', 'Ilanz', 'Ilanz/Glion',
       'Sachseln', 'Aarburg', 'Schwarzenburg', 'Gisikon', 'Triengen',
       'Ermensee', 'Avenches', 'Mellingen', 'Bonaduz', 'Zimmerwald',
       'Tramelan', 'Gstaad', 'Lupsingen', 'Safenwil', 'Matzingen',
       'Romont FR', 'Romont (FR)', 'Entlebuch', 'Porrentruy', 'Giubiasco',
       'Alpnach Dorf', 'Erlenbach', 'Uitikon Waldegg', 'Niederlenz',
       'Schönbühl', 'Oberhelfenschwil', 'Reichenburg', 'Buchs (SG)',
       'Jenins', 'Bonfol', 'Biasca', 'Gossau (ZH)', 'Grand-Lancy',
       'Salgesch', 'Tavannes', 'Berg TG', 'Niederglatt', 'Wallenried',
       'Bellwald', 'Trélex', 'Segl', "Sant'Antonino", 'Lucens',
       'Massagno', 'Pfungen', 'Steinen', 'Bilten', 'Menziken',
       'Schindellegi', 'Menzingen', 'Schattdorf', 'Gommiswald', 'Clarens',
       'Buchs AG', 'Niederbipp', 'Niedergösgen', 'Kilchberg', 'Wichtrach',
       'Steffisburg', 'Eschenbach LU', 'Wil SG', 'Kollbrunn',
       'Mehlsecken', 'Dierikon', 'Seon', 'Gränichen', 'Murgenthal',
       'Bercher', 'Hägendorf', 'Uttigen', 'Saanenmöser', 'Miège', 'Cevio',
       'Murten/Morat', 'Wagen', 'Hünibach', 'Worb', 'Jonschwil',
       'Neyruz FR', 'Rickenbach Sulz', 'Stettlen', 'Ormalingen',
       'Colombier', 'Villars-sur-Glâne', 'Eclépens', 'Derendingen',
       'Morcote', 'Le Mont-sur-Lausanne', 'Rudolfstetten',
       'Erlinsbach (SO)', 'RENENS', 'Würenlingen', 'Altstätten SG',
       'Gerlafingen', 'Areuse', 'Hendschiken', 'Elsau', 'Haute-Nendaz',
       'Riedholz', 'Broc', 'Anzère', 'Chamoson', 'Veyras', 'Biel VS',
       'La Conversion', 'Lichtensteig', 'Rapperswil-Jona', 'Savièse',
       'Riddes', 'Saxon', 'Wilen bei Wil', 'Sierre', 'Marly',
       'Wolfhalden', 'Bellach', 'Roche (VD)', 'Grimisuat', 'Gockhausen',
       'Wiggen', 'Pfaffnau', 'Marbach LU', 'Reiden', 'Nebikon', 'Wauwil',
       'Hasle LU', 'Uerkheim', 'Givisiez', 'Seedorf UR', 'Krattigen',
       'Buch am Irchel', 'Dürnten', 'Saillon', 'Gampel', 'Iseltwald',
       'Marbach SG', 'Rennaz', 'Jegenstorf', 'Alpthal', 'Préverenges',
       'Herisau', 'Untervaz', 'Hunzenschwil', 'Geuensee', 'Hildisrieden',
       'Inwil', 'Oberkirch LU', 'Schachen LU', 'Buchs', 'Brig-Glis',
       'Bulle', 'Birmensdorf (ZH)', 'Rieden SG', 'Bätterkinden',
       'Villmergen'], dtype=object)

In [27]:
df_g = df.loc[(df['brand'] == 'coop')]
df_g.head(5)

UndefinedVariableError: name 'Zurich' is not defined

### Save data to file

In [ ]:
df.to_csv('supermarkets_data_prepared.csv', 
          sep=",", 
          encoding='utf-8',
          index=False)

### Jupyter notebook --footer info-- (please always provide this at the end of each submitted notebook)

In [ ]:
import os
import platform
import socket
from platform import python_version
from datetime import datetime

print('-----------------------------------')
print(os.name.upper())
print(platform.system(), '|', platform.release())
print('Datetime:', datetime.now().strftime("%Y-%m-%d %H:%M:%S"))
print('Python Version:', python_version())
print('-----------------------------------')